.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.main > button:first-child {
  background-color: #55efc4;
  color: white;
}